@font-face {
    font-family: RegularFont;
    src: url(/font/Marcellus-Regular.ttf);
}
*{
    font-family: RegularFont;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #FCFCFC;
}

header{
    width: 100%;
    display: block;
    position: fixed;
    overflow: hidden;
}

#header-menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#menu{
    margin: 1%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-style: italic;
}
#menu a{
    font-size: 2em;
    text-decoration: none;
    color: white;
}
#menu a:hover{
    color: #12B57E;
}

#header-menu img{
    max-width: 7%;
    margin: 1%;
}

.menu-icon, .menu-close{
    display: none;
}

#section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#image1{
    position: absolute;
    height: 700px;
    width: 100%;
    background: black;
    overflow: hidden;
    z-index: -1;
}

#image1 img{
    object-fit: cover;
    width: 100%;
    opacity: 0.4;
    margin-top: -5%;
}

#section1 h1{
    font-size: 7em;
    margin-top: 10%;
    margin-bottom: 2%;
}

#content1{
    display: flex;
    width: 80%;
    margin-top: 6%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#info1{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2%;
    
}
#telephone{
    display: flex;
    justify-content: center;
    width: 100%;
}

#telephone img{
    margin-right: 0.5%;
}

#social-media{
    display: flex;
    justify-content: center;
}

.novedades {
    max-width: 1200px;
    margin: 80px auto;
    padding: 20px;
    background-color: #fff;
    /*
    border: 3px solid #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-style: ridge;
    */

    border-radius: 8px;

}

.novedades h2 {
    text-align: center;
    font-size: 3.2em;
    font-style: italic;
    margin-bottom: 20px;
    color: #333;
}

.plato {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.plato:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.plato img {
    max-width: 30%;
    border-radius: 8px;
    margin-right: 20px;
}

.plato h3 {
    font-size: 1.5em;
    margin: 0;
    color: #444;
}

.plato p {
    margin: 5px 0 0;
    color: #666;
}

.novedad-texto{
    display: flex;
    flex-direction: column;
}

.menu-container {
    width: 90%;
    max-width: 800px;
    margin: 7% auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.menu-container h1 {
    text-align: center;
    font-size: 3.2em;
    font-style: italic;
    margin-bottom: 20px;
    color: #333;
}

.special-menu-content{
    display: flex;
    flex-direction: row;
}
.special-menu-content img{
    max-width: 20rem;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.description {
    margin: 15px 0;
    padding: 20px;
    line-height: 1.5;
    text-align: justify;
}

.buy-button {
    display: block;
    width: 50%;
    margin: 20px auto;
    padding: 15px;
    text-align: center;
    background: #12B57E;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.buy-button:hover {
    background: #12b57fa9;
}

@media (max-width: 768px) {
    .menu-container{
        margin-top: 65%;
    }
    .special-menu-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


#section2{
    margin-top: 7%;
    margin-bottom: 3%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: space-evenly;
}

#section2 div{
    text-align: center;

}
#section2 p{
    font-size: 1.2em;
}
#section2 img{
    height: 300px;
    width: 30vw;
    border-radius: 10px;
    object-fit: cover;
}

#separator{
    font-size: 3em;
    text-align: center;
}

#section3 {
    background-color: #f7f7f7;
    margin-top: 2%;
    padding: 50px 20px;
    text-align: center;
}

#section3 h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.section3-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;
}

.testimonio {
    margin: 40px auto;
    max-width: 600px;
    font-style: italic;
}

.testimonio h3 {
    margin-top: 10px;
    font-weight: normal;
}

#faq {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
}

#faq h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

.faq-content{
    display: flex;
    margin-left: 35px;
}

.faq-content img{
    width: 20vw;
    height: 550px;
    border-radius: 10px;
    margin-right: 5%;
}

.faq-item {
    margin: 20px 0;
    width: 80%;
}

.faq-item h3 {
    font-size: 1.5em;
    color: #333;
}

.faq-item p {
    font-size: 1.1em;
    color: #666;
}

/* Estilos para la sección de horarios */
#horarios {
    padding: 20px;
    background-color: #f7f7f7;
    text-align: center;
    margin: 20px 0;
}

#horarios h2 {
    font-size: 2em;
    margin-bottom: 10px;
    margin-bottom: 2%;
}

#horarios table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 1.2em;
}

#horarios th, #horarios td {
    border: 1px solid #ddd;
    padding: 8px;
}

#horarios th {
    background-color: #333;
    color: white;
}

#horarios tr:nth-child(even) {
    background-color: #f2f2f2;
}

#horarios tr:hover {
    background-color: #ddd;
}

#horarios td {
    text-align: left;
}

#horarios h4{
    text-align: right;
    margin-right: 10%;
}

@media (max-width: 768px) {
    #horarios table {
        width: 100%;
    }

    #horarios h2 {
        font-size: 1.5em;
    }

    #horarios table, #horarios th, #horarios td {
        font-size: 1em;
    }
    #horarios h4{
        width: 100%;
        text-align: center;
    }
}


#mapa{ 
    padding: 50px 20px;
    text-align: center;
}

#mapa h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

iframe {
    width: 100%;
    height: 400px;
    background-color: #eaeaea;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-section {
    margin: 20px 0;
    width: 300px;
}

.footer-section h4 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.footer-section p,
.footer-section ul,
.footer-section li,
.footer-section a {
    font-size: 1em;
    margin: 5px 0;
    color: #ddd;
    text-decoration: none;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li a:hover {
    color: #fff;
}

.footer-logo img{
    width: 10vw;
}

.social-media a {
    margin: 0 10px;
    display: inline-block;
}

.social-media img {
    width: 24px;
    height: 24px;
}

.footer-bottom {
    border-top: 1px solid #444;
    margin-top: 20px;
    padding-top: 10px;
}

.footer-bottom p {
    font-size: 0.9em;
    color: #bbb;
}

#show-reservation-form {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}


/* Contenedor del formulario */
#reservation-form-container {
    display: none; /* El formulario está oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Sección de reservas */
.reservation-section {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Título del formulario */
.reservation-section h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
    text-align: center;
}

.reservation-section p{
    margin-top: 2%;
}

/* Formulario */
.reservation-form {
    display: flex;
    flex-direction: column;
}

/* Etiquetas del formulario */
.reservation-form label {
    margin: 10px 0 5px;
    font-weight: bold;
    color: #555;
}

/* Campos de entrada y select */
.reservation-form input,
.reservation-form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Botón de envío */
.reservation-form button {
    margin-top: 20px;
    padding: 12px;
    background-color: #12B57E;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reservation-form button:hover {
    background-color: #12B57E;
}

/* Responsive Design */
@media (max-width: 600px) {
    .reservation-section {
    padding: 15px;
    margin: 10%;
    }

    .reservation-section h2 {
    font-size: 24px;
    }

    .reservation-form button {
    font-size: 16px;
    }
    .reservation-form input{
        padding: 4px;
    }
}



@media (max-width: 600px) {
    #header-menu {
        flex-direction: column;
    }
    #header-menu img{
        max-width: 25%;
    }

    #menu {
        margin-top: 10px;
        text-align: center;
        width: 100%;
    }
    #menu a{
        font-size: 0.8em;
    }

    #info1 {
        flex-direction: column;
        align-items: center;
    }
    #image1 img{
        margin-left: -220%;
        width: auto;
    }
    #section1 h1{
        font-size: 3em;
        margin-top: 40%;
    }

    .novedades{
        margin-top: 70%;
        width: 90%;
        padding: 7%;
    }

    .plato {
        flex-direction: column;
        text-align: center;
    }

    .plato img {
        margin: 0 0 10px 0;
    }

    .plato h3 {
        font-size: 1.3em;
    }

    .plato p {
        font-size: 1em;
    }

    #section2 {
        flex-direction: column;
        align-items: center;
        margin-top: 30%;
    }

    #section2 img{
        margin-top: 35%;
        width: 60vw;
    }

    .section3-content {
        flex-direction: column;
        align-items: center;
    }

    .faq-content {
        flex-direction: column;
        align-items: center;
    }
    .faq-content img{
        width: 82vw;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        width: 100%;
        text-align: center;
    }
    
    .footer-logo img{
        width: 50vw;
    }
}

@media (max-width: 1280px) {
    #image1 img{
        height: 120vh;
    }
    .plato img{
        max-width: 60%;
    }
}

@media (max-width: 1536px){
    #image1{
        height: 110vh;
    }
    #image1 img{
        height: 120vh;
    }

}